---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

const homepage = (await getEntry("pages", "home"))!;
const { title, subtitle } = homepage.data;
const { Content } = await homepage.render();
---

<Layout>
	<main class="max-w-4xl mx-auto px-6 py-16">
		<div class="max-w-2xl">
			<h1 class="text-4xl font-bold mb-4">{title}</h1>
			<p class="text-xl mb-16 text-gray-600">{subtitle}</p>

			<div class="space-y-6 mb-24 prose prose-lg">
				<Content />
			</div>
		</div>
	</main>
</Layout>
