---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

const homepage = (await getEntry("pages", "home"))!;
const { title, subtitle } = homepage.data;
const { Content } = await homepage.render();
---

<Layout>
	<main class="max-w-4xl mx-auto px-6 py-16">
		<div class="space-y-6 mb-24 prose prose-lg max-w-none">
			<Content />
		</div>
	</main>
</Layout>
