---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

const now = (await getEntry("pages", "now"))!;
const { title, subtitle } = now.data;
const { Content } = await now.render();
---

<Layout title={title}>
    <main class="max-w-4xl mx-auto px-6 py-16">
        <div class="max-w-2xl">
            <div class="space-y-6 mb-24 prose prose-lg prose-a:text-brand-primary prose-a:no-underline hover:prose-a:underline">
                <Content />
            </div>
        </div>
    </main>
</Layout>
