---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

const now = (await getEntry("pages", "now"))!;
const { title, subtitle } = now.data;
const { Content } = await now.render();
---

<Layout title={title}>
    <main class="max-w-4xl mx-auto px-6 py-16">
        <div class="max-w-2xl">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <p class="text-xl mb-16 text-gray-600">{subtitle}</p>

            <div class="space-y-6 mb-24 prose prose-lg">
                <Content />
            </div>
        </div>
    </main>
</Layout>
