---
import TopoShader from "../components/TopoShader.astro";

import "../styles/global.css";
---

<TopoShader />
<div class="bg-white/90">
    <h1>Colorful Topographic Noise</h1>
    <p>This WebGL shader is rendered by an Astro component.</p>
    <p>
        The pattern should be animated and colorful, resembling a topographic
        map.
    </p>
</div>
