---
import TopoShader from "../components/TopoShader.astro";
---

<TopoShader />
<h1>Colorful Topographic Noise</h1>
<p>This WebGL shader is rendered by an Astro component.</p>
<p>
    The pattern should be animated and colorful, resembling a topographic map.
</p>
