---
import "../styles/global.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Yuval Adam's personal website" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicon icons -->
		<link rel="icon" href="/ico/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/ico/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />

		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | Yuval Adam` : "Yuval Adam"}</title>
	</head>
	<body>
		<nav class="max-w-4xl mx-auto px-6 py-8">
			<ul class="flex gap-6">
				<li>
					<a
						href="/"
						class="text-gray-600 hover:text-gray-900 font-bold"
						>Yuval Adam</a
					>
				</li>
				<li>
					<a href="/blog" class="text-gray-600 hover:text-gray-900"
						>Blog</a
					>
				</li>
				<li>
					<a
						href="/projects"
						class="text-gray-600 hover:text-gray-900">Projects</a
					>
				</li>
				<li>
					<a href="/now" class="text-gray-600 hover:text-gray-900"
						>Now</a
					>
				</li>
			</ul>
		</nav>
		<slot />
	</body>
</html>
