---
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/500.css";
import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
const isHome = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description ||
				"Hello. I'm Yuval. I turn abstract ideas into sequences of 1's and 0's."}
		/>
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" href="/ico/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/ico/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />

		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
		<title>{title ? `${title} | Yuval Adam` : "Yuval Adam"}</title>
		<script
			src="https://cdn.usefathom.com/script.js"
			data-site="ZEJBLICB"
			defer></script>
		<script
			defer
			data-domain="yuv.al"
			src="https://track.magicmonad.com/js/script.js"></script>
	</head>
	<body class:list={["bg-gradient-to-br from-white to-brand-secondary/5", isHome ? "home-fluid" : "site-fluid"]}>
		<div class:list={["viewport", isHome ? "home-viewport" : "page-viewport"]}>
			<Header currentPath={Astro.url.pathname} variant="fluid" />
			<slot />
		</div>
	</body>
</html>
